API_KEY = "" 
# Modal must generat yourself and configure!
BLOB_READ_WRITE_TOKEN="FROM VERCEL"
#
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
#
NEXT_PUBLIC_APP_URL="Your deployment"